<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>carshow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link href='http://fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- start here -->
  
        <div class="page-header">
            <div class="container">
                <h1>IronYard Student Car Show <small>...the vehicles that drive the IronYard</small></h1>
                <ul class="nav nav-tabs nav-justified">
                    <li class="reg-tab"><a href="#">Register you vehicle</a></li>
                    <li class="disabled"><a href="#">Become a Sponsor</a></li>
                    <li class="disabled"><a href="#">Event Information</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <form class="reg-form input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Name" name="Name" value="">
                <input type="text" class="form-control" placeholder="Phone" name="Phone" value="">
                <input type="text" class="form-control" placeholder="Email" name="Email" value="">
                <input type="text" class="form-control" placeholder="City" name="City" value="">
                <input type="text" class="form-control" placeholder="State" name="State" value="">
                <input type="text" class="form-control" placeholder="Zip" name="Zip" value="">
                <input type="text" class="form-control" placeholder="Year" name="Year" value="">
                <input type="text" class="form-control" placeholder="Make" name="Make" value="">
                <input type="text" class="form-control" placeholder="Model" name="Model" value="">
                <input type="text" class="form-control" placeholder="Image Upload - cut and paste url here" name="Image" value="">
                <input type="button" class="btn btn-primary btn-large" id="submit-btn" value="Submit Registration">
            </form>
            <div class="registered-users">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="car-image" src="http://www.wesleychapeltoyota.com/blogs/180/wp-content/uploads/2012/09/2012-Toyota-Camry.jpg">
                        <div class="caption">
                            <h3 class="name">Matt Hartley</h3>
                            <span class"year">2010</span>
                            <span class="make">Toyota</span>
                            <span class="model">Camry</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="car-image" src="http://static.cargurus.com/images/site/2008/01/01/23/01/2002_toyota_4runner_limited_4wd-pic-24551.jpeg">
                        <div class="caption">
                            <h3 class="name">Shane Sniteman</h3>
                            <span class="year">2004</span>
                            <span class="make">Toyota</span>
                            <span class="model">4Runner</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="car-image" src="http://featuredcars.com/images/full-2001-Subaru-Forester_19471_1.jpg">
                        <div class="caption">
                            <h3 class="name">Todd Heidenreich</h3>
                            <span class="year">2001</span>
                            <span class="make">Subaru</span>
                            <span class="model">Forester</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end here -->



        <script class="RegistrantTemplate" type="text/template">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="car-image"src="<%= data.image %>">
                    <div class="caption">
                        <h3 class="name"><%= data.name %></h3>
                        <span class="year"><%= data.year %></span>
                        <span class="make"><%= data.make %></span>
                        <span class="model"><%= data.model %></span>
                    </div>
                </div>
            </div>
        </script>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
